{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="card mb-3" style="max-width: 100%;margin-top:4rem; border:none">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.images_url}}" class="img-fluid rounded-start"  alt="..." >
    </div>
    <div class="col-md-8">
      <div class="card-body">

        <h5 class="card-title">{{ movie.title}}</h5>

           <p  class="card-text">{{movie.genre}} {{movie.duration}}</p>
            <p  class="card-text">{{movie.release_year}}</p>
        <p class="card-text">
            {{movie.description}}
        </p>
           <a href="#"  style= "display:inline-block; "class="btn btn-warning">Watch Now </a>


      </div>

    </div>
  </div>
</div>


</div>



{% endblock  %}